body {
  background-color: white;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: bold;
}

p {
  font-size: 20px;
}
.container {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-content: flex-start;
}
.search-result {
  grid-column-end: span 3;
  /* margin: 0; */
  color: grey;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.info {
  /* background-color: aqua; */
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}
.info-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0 1px gold;
  user-select: none;
}
.info-link:hover {
  text-shadow: 0 0 7px gold;
}
.top {
  background-color: gold;
  /* padding: 20px; */
  padding: 30px 20px 125px 200px;
}

.top button {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: blanchedalmond;
  background-color: #ffffff;
  padding: 4px 8px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
}
.main {
  margin-top: -100px;
}
.bottom {
  background-color: green;
}
@media (max-width: 875px) {
  .top {
    padding-left: 50px;
  }
}
